* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: linear-gradient(85deg, rgba(207,3,44,1) 25%, rgba(5,14,240,1) 75%);
}

ul {
  list-style-type: none;
}

.wrapper {
	padding-top: 10rem;
	margin-left: 75px;
	margin-right: 75px;
}

.trash {
	width: 5%;
	padding-top: 10px;
}

.fas {
	top: 17px;
	right: 20px;
}

::selection {
    color: none;
    background: none;
}

/*MEDIUM DEVICES*/
@media (min-width: 768px) {

}

/*LARGE DEVICES*/
@media (min-width: 992px) {

}

/*EXTRA LARGE DEVICES*/
@media (min-width: 1200px) {

}